@CHARSET "ISO-8859-1";

@charset "utf-8";

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;
	border: 0px !important;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.ui-layout-north .ui-layout-unit-content  div {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	text-align: center;
}

.ui-layout-north .ui-layout-unit-content  ul>li>a {
	height: 20px !important;
	margin-left: 10px !important;
	margin-right: 10px !important;
	align: center !important;;
}

.ui-tabs-panel {
	margin-top: 5px ! important;
	padding-top: 0px !important;
}

.ui-grid-row {
	margin-bottom: 10px !important;
}

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
	background: #f0f1eb !important;
}

.cabecalho {
	padding: 5px;
	height: 60px;
	background: #e5e5e5 !important;
	margin-top: -20px;
	margin-bottom: 10px;
	margin-top: -20px;
	margin-bottom: 10px;
	color: #f0f1eb;
}

#conteudo {
	padding: 0px 8px;
}

#container {
	
}

.painel {
	background: #e5e5e5 !important;
}

footer {
	border-top: 1px solid #ccc;
	padding: 5px 8px;
	margin-top: 20px;
	margin-bottom: 10px
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px
}

.ajax-status {
	position: fixed;
	top: 85px;
	right: 10px;
	width: 35px;
	height: 35px
}

#login-dialog {
	width: 260px;
	margin: auto;
	margin-top: 150px;
}

.grid-login {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 10px;
	width: 100%
}

.cadastro {
	margin: 0 auto;
}

.input-1 {
	min-width: 100px;
	max-width: 100px;
}

.input-2 {
	min-width: 150px;
	max-width: 150px;
}

.input-3 {
	min-width: 240px;
	max-width: 240px;
}

.input-4 {
	min-width: 345px;
	max-width: 345px;
}

.input-5 {
	min-width: 500px;
	max-width: 500px;
}

.pos {
	margin-right: 0px;
}

.center {
	text-align: center;
}

.linha-form {
	margin-top: 10px;
	margin-bottom: 10px;
}

.elemento {
	margin-right: 10px;
}

.linha-form-pequena {
	width: 500px;
}

.linha-form-media {
	width: 750px;
}

.painel-medio {
	min-width: 750px;
}

.panelGridCenter {
	margin: 0 auto;
}