@CHARSET "ISO-8859-1";

@charset "utf-8";

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;
	border: 0px !important;
	margin-bottom: 20px;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.ui-layout-north .ui-layout-unit-content  div {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	text-align: center;
}

.ui-layout-north .ui-layout-unit-content  ul>li>a {
	height: 20px !important;
	margin-left: 10px !important;
	margin-right: 10px !important;
	align: center !important;;
}

.ui-tabs-panel {
	margin-top: 5px ! important;
	padding-top: 0px !important;
}

.ui-grid-row {
	margin-bottom: 10px !important;
}

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	background: #f7f7f7;
	font-weight: normal;
}

.cabecalho {
	padding: 5px;
	height: 60px;
	margin-top: -20px;
	margin-bottom: 0px;
}

.menu-topo {
	color: white;
	border: 0px;
	border-radius: 0px;
	min-height: 40px;
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
	border: 0px;
}

.menu-lateral {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 100%; /* Full height */
	position: fixed; /* Make it stick, even on scroll */
	overflow: auto;
	/* Enable scrolling if the sidenav has too much content */
	margin-left: 5px;
	min-width: 230px;
}

.menu-lateral>li {
	font-family: verdana;
	font-size: 1.1em;
	text-decoration: none;
}

.menu-lateral>li.submenu {
	color: #fff;
	padding: 8px 0 8px 8px;
	background: #6599af;
	text-decoration: none;
	border-bottom: 1px solid #3f687a;
	min-height: 20px;
	min-width: 140px;
	display: block;
}

.menu-lateral>li>a {
	color: #fff;
	padding: 8px 0 8px 32px;
	text-decoration: none;
	border-bottom: 1px solid #3f687a;
	min-height: 20px;
	min-width: 140px;
	display: block;
}

.menu-lateral>li>a:hover {
	background-color: #fff;
	color: black;
}

.menu-1 {
	background: #2f4e5b;
}

.menu-2 {
	background: #fff;
	border-bottom: 1px solid #e4e4e4;
}

.divisor {
	margin-left: 10px;
}

.menu-topo-item {
	color: white;
}

#conteudo {
	padding: 0px 8px;
}

footer {
	border-top: 1px solid #ccc;
	padding: 5px 8px;
	margin-top: 20px;
	margin-bottom: 10px
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px
}

.ajax-status {
	position: fixed;
	top: 85px;
	right: 10px;
	width: 35px;
	height: 35px
}

#login-dialog {
	width: 260px;
	margin: auto;
	margin-top: 150px;
}

.grid-login {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 10px;
	width: 100%
}

.cadastro {
	margin: 0 auto;
}

.input-1 {
	min-width: 100px;
	max-width: 100px;
}

.btn-add-1 {
	padding: 0px;
	margin-top: 0px;
	min-width: 40px;
	max-width: 40px;
}

.input-2 {
	min-width: 150px;
	max-width: 150px;
}

.input-3 {
	min-width: 240px;
	max-width: 240px;
}

.input-4 {
	min-width: 345px;
	max-width: 345px;
}

.input-5 {
	min-width: 500px;
	max-width: 500px;
}

.pos {
	margin-right: 0px;
}

.center {
	text-align: center;
}

.linha-form {
	margin-top: 10px;
	margin-bottom: 10px;
}

.elemento {
	margin-right: 10px;
}

.linha-form-pequena {
	width: 500px;
}

.linha-form-media {
	width: 750px;
}

.painel-medio {
	min-width: 750px;
}

.panelGridCenter {
	margin: 0 auto;
}